// header ------
.header-wrap {
  margin-top: 28px;
  padding: 0 28px 30px 34px;
  .title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
  }
  .createBtn {
    background: #000000;
    color: #ffffff;
  }
}
.deals-content-wrap {
  margin: 0 20px;
  .deals-content {
    background-color: #fff;
    height: calc(100vh - 230px);
  }
  :global {
    .ant-tabs-nav {
      margin-bottom: 0 !important;
      .ant-tabs-tab {
        border-radius: 10px 10px 0px 0px !important;
        border: 1px solid #d9d9d9 !important;
      }
      .ant-tabs-tab-active {
        background-color: #fff !important;
        border-bottom: none !important;
      }
    }
    .ant-table-pagination-right {
      justify-content: flex-start;
    }
  }
}
