.reply {
  width: 900px;
  margin: 0 auto;
  .title {
    margin: 29px 0 24px 0;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    color: #000000;
  }
  .panel-content {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #262626;
  }
  .editBtn {
    height: 36px;
    background-color: #000000;
    border-radius: 10px;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
  .panel-file {
    margin: 10px 0;
    .file-btn {
      height: unset;
      background-color: rgba(46, 190, 189, 0.1);
      border-radius: 50px;
      padding: 8px 18px !important;
      color: #2ebebd;
      margin-right: 5px;
      margin-bottom: 5px;
      font-family: 'Rubik';
      font-weight: 400;
      font-size: 14px;
      line-height: 17px !important;
      .attachments-close {
        margin-left: 12px;
      }
    }
  }
  :global {
    .ant-collapse-header {
      background-color: #fff;
    }
    .ant-collapse-ghost > .ant-collapse-item {
      border-bottom: 1px solid #d9d9d9;
    }
    .ant-collapse-content-box {
      background-color: #fff;
    }
  }
}

.modalWrap {
  :global {
    .ant-modal-body {
      padding: 0 24px 24px;
    }
  }
}
.modal {
  .labelTitle {
    margin-bottom: 10px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
  }
  .contentWrap {
    position: relative;
  }
  .uploadWrap {
    position: absolute;
    bottom: 11px;
    left: 11px;
  }
  .fileWrap {
    margin-top: 10px;
    .file-btn {
      height: unset;
      background-color: rgba(46, 190, 189, 0.1);
      border-radius: 50px;
      padding: 8px 18px !important;
      color: #2ebebd;
      margin-right: 5px;
      margin-bottom: 5px;
      font-family: 'Rubik';
      font-weight: 400;
      font-size: 14px;
      line-height: 17px !important;
      .attachments-close {
        margin-left: 12px;
      }
    }
  }

  .editBtn {
    height: 36px;
    background: #000000;
    border-radius: 10px;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
}
