.modal-note {
  .title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
  }
  .textarea {
    min-height: 120px;
  }
  .postBtn {
    width: 76px;
    height: 45px;
    background-color: #000;
    color: #fff;
    margin: 16px 0 24px 0;
    border-radius: 10px;
    &:disabled {
      background-color: #c4c4c4;
      color: #fff;
    }
  }
  .note-wrap {
    height: 350px;
    overflow-y: auto;
  }
  .noteItem {
    .user {
      display: flex;
      align-items: center;
      font-family: 'Rubik';
      font-weight: 400;
      font-size: 15px;
      color: #000000;
      .userIcon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }
    .content {
      padding: 17px 0 22px 0;
      margin-bottom: 22px;
      border-bottom: 1px solid #f0f0f0;
    }
  }
}
.modal-merge {
  .title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
  }
  .description {
    margin-bottom: 10px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
  }
  .switchBtn-wrap {
    .primaryText {
      width: 63px;
      height: 14px;
      font-family: 'Rubik';
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #2ebebd;
      margin: 10px 0;
    }
    Button {
      width: 100%;
      height: 59px;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      border-radius: 8px;
      font-family: 'Lato';
      font-weight: 400;
      font-size: 17px;
      &.active {
        border: 2px solid #2ebebd;
        font-family: 'Lato';
        font-weight: 500;
        font-size: 17px;
        line-height: 100%;
        color: #2ebebd;
      }
    }
  }
  .container {
    margin-top: 36px;
    margin-bottom: 80px;
    .label {
      margin-right: 12px;
      font-family: 'Rubik';
      font-weight: 400;
      font-size: 13px;
      line-height: 100%;
      color: #808080;
    }
    .labelValue {
      font-family: 'Lato';
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #262626;
    }
  }

  .cancelBtn,
  .mergeBtn {
    width: 76px;
    height: 45px;
    margin: 16px 0 24px 0;
    border-radius: 10px;
  }
  .mergeBtn {
    background-color: #000;
    color: #fff;
    &:disabled {
      background-color: #c4c4c4;
      color: #fff;
    }
  }
}
