* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 滚动条有滑块的轨道部分 */
::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  border-radius: 0;
}
/* 整个滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  display: block;
}
/* 滚动条竖向滑块 */
::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(211, 211, 211, 1);
  border-radius: 3px;
}
/* 滚动条竖向滑块hover */
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(128, 128, 128, 1);
}
/* 滚动条横向滑块 */
::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(211, 211, 211, 1);
  border-radius: 4px;
}
/* 滚动条横向滑块hover */
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgba(128, 128, 128, 1);
}
/* 同时有垂直和水平滚动条时交汇的部分 */
::-webkit-scrollbar-corner {
  display: block; /* 修复交汇时出现的白块 */
}
