.FormEmail {
  // height: calc(100vh - 72px);
  height: 100vh;
  .FormEmailContent {
    height: calc(100% - 98px);
    overflow: hidden;
    .FormEmailContainer {
      height: 100%;
      overflow-y: scroll;
    }
  }
}
