.container {
  width: 100%;
  height: calc(100vh - 158px);
}
.content {
  display: flex;
  height: 100%;
  .tabs {
    flex: 1;
  }
  .action {
    width: 380px;
    // background-color: #fff;
    // height: 100%;
    // overflow-y: auto;
    // overflow-x: hidden;
  }
}
