.costModal {
  width: 630px;
  .costItem {
    margin-top: 32px;
  }
  .costItemName {
    margin-bottom: 16px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 15px;
    color: #000000;
  }
  .title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }
  .subTitle {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    color: #808080;
  }
  .number {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #262626;
  }
}
