.container {
  position: relative;
  width: 350px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -8px 0px 16px rgba(0, 0, 0, 0.2);
  padding: 32px 16px 0px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
.content {
  flex: 1 1 auto;
  overflow-y: auto;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.CloseButton {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.shallowText {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 13px;
  color: #999999;
}
.subTitle {
  margin-bottom: 16px;
}
.loginBtn {
  font-size: 16px;
  color: #2c88dd;
  cursor: pointer;
}
