.dialogText {
  text-align: center;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  .location {
    font-weight: 700;
  }
}
.searchInput {
  height: 45px;
  padding: 12px 20px 12px 20px;
  width: 268px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  svg {
    width: 24px;
    height: 24px;
  }
}
.selectInput {
  height: 59px;
  margin-top: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 8px !important;
  :global {
    .ant-select-selector {
      height: 100% !important;
      border-radius: 8px !important;
      .ant-select-selection-search {
        display: flex;
        align-items: center;
        padding: 0 20px;
      }
      .ant-select-selection-placeholder {
        padding: 21px 20px !important;
        line-height: 15px;
      }
      .ant-select-selection-item {
        padding: 0 20px;
        display: flex;
        align-items: center;
      }
    }
  }
}
