.up-down-card {
  // width: 300px;
  width: 100%;
  height: 111px;
  padding: 24px 25px;
  background: #ffffff;
  border-radius: 8px;
  .iconWrap {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .num {
    margin-left: 16px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
  }
  .precent {
    flex: 1;
    text-align: right;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
  }
  .description {
    margin-top: 8px;
    padding-left: 56px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #4e5969;
  }
}
.pie-total-open-deals {
  background-color: #fff;
  padding: 24px;
  height: 357px;
  .title {
    font-family: 'Rubik';
    height: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #1d2129;
  }
  .pie {
    margin: 34px 24px;
    height: 250px;
  }
  .line {
    height: 250px;
    margin: 35px 8px 0 8px;
  }
}
.deal-lost-in,
.new-contacts,
.deals-source {
  background: #ffffff;
  border-radius: 8px;
  height: 150px;
  padding: 24px;
  .title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #1d2129;
  }
  .dropdown {
    cursor: pointer;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}
.deals-source {
  .wrap {
    margin-top: 34px;
  }
  .leftBar {
    width: 4px;
    height: 50px;
    background: #2ebebd;
    border-radius: 2px;
  }
  .content {
    margin-left: 8px;
    .name {
      font-family: 'Rubik';
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #4e5969;
    }
    .precentNum {
      font-family: 'Helvetica Neue';
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #1d2129;
    }
    .precent {
      margin-left: 2px;
      font-family: 'Helvetica Neue';
      font-weight: 400;
      font-size: 12px;
      line-height: 28px;
      color: #86909c;
    }
  }
  .others {
    .leftBar {
      background: #d9d9d9;
    }
  }
}
.new-contacts {
  .num {
    margin-top: 6px;
    margin-bottom: 2px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #151522;
  }
}
.deal-lost-in {
  .content {
    margin-top: 25px;
  }
}
.best-sellers {
  padding: 24px;
  color: #ffffff;
  background: #21222d;
  border-radius: 8px;
  height: 322px;
  .dropdown {
    cursor: pointer;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .table {
    margin-top: 30px;
  }
  .sales {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2ebebd;
  }
  :global {
    .ant-table {
      color: #ffffff;
      background: #21222d;
      .ant-table-thead > tr > th,
      .ant-table-tbody > tr > td,
      .ant-table tfoot > tr > th,
      .ant-table tfoot > tr > td {
        padding: 0 !important;
        height: 37px;
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #ffffff;
      }
      .ant-table-thead > tr > th {
        background-color: unset;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #87888c;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.06);
      }
      .ant-table-tbody > tr > td {
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.06);
      }
      .ant-table-tbody > tr.ant-table-row:hover > td,
      .ant-table-tbody > tr > td.ant-table-cell-row-hover {
        background-color: #21222d;
      }
    }
  }
}
.sales-range {
  padding: 24px 24px 0;
  height: 322px;
  background: #ffffff;
  border-radius: 12px;
  .title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #1d2129;
  }
  .subTitle {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4e5969;
    border-radius: 10px;
  }
  .bar {
    height: 280px;
  }
}
.no-of-sales-amount {
  padding: 24px 24px 0;
  background: #ffffff;
  border-radius: 8px;
  .title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #1d2129;
  }
  .bar {
    height: 368px;
  }
}
