.tableWarp {
  padding: 30px 28px 48px 33px;
}
.expandTable {
  padding: 0;
}
.tagsButton {
  padding: 6px 16px;
  height: 29px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 30px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
