.mainLayout {
  height: 100%;
  .sider {
    overflow: auto;
    height: calc(100vh - 48px);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  :global {
    .ant-layout-sider {
      background-color: #fff;
    }
    .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
      width: 72px;
      margin: 40px auto;
      .ant-menu-item {
        padding: 11px 24px;
      }
      .ant-menu-submenu {
        .ant-menu-submenu-title {
          padding-top: 11px;
        }
      }
    }
    .ant-layout-header {
      background: unset;
      padding: unset;
    }
    .ant-layout-sider-trigger {
      background-color: #ccc;
    }
    .ant-layout-header {
      height: 72px;
    }
    .ant-layout-content {
      min-height: calc(100vh - 72px);
    }
  }
}
