.mainLayout {
  height: 100%;
  .sider {
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 48px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .siteLayout {
    width: unset !important;
  }
  :global {
    .ant-layout-sider {
      background-color: #fff;
    }
    .ant-layout-sider-collapsed {
      width: 104px !important;
      flex: 0 0 104px !important;
      max-width: 104px !important;
      min-width: 104px !important;
      .ant-layout-sider-trigger {
        width: 104px !important;
      }
    }

    .ant-layout-header {
      background: unset;
      padding: unset;
    }
    .ant-layout-sider-trigger {
      background-color: #ccc;
    }
    .ant-layout-header {
      height: 72px;
      line-height: unset;
    }
    .ant-layout-content {
      // min-height: calc(100vh - 72px);
      min-height: 100vh;
      overflow: hidden;
    }
  }
}
