.userSelectWrap{
  margin-top: 27px;
  display: flex;
  justify-content: flex-end;
  :global{
    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
      width: 200px;
      border-radius: 10px;
    }
  }
}
.activeText {
  cursor: pointer;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #2c88dd;
  text-decoration: underline;
}
.Btn {
  height: 35px;
  background: #000000;
  border-radius: 6px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.tableWrap{
  margin-top: 23px;
  padding: 0 28px 0 33px ;
  border-radius: 10px;
  background-color: #fff;
  :global {
    .ant-table-pagination-right {
      justify-content: flex-start;
    }
  }
}
.shipModal{
  .infoIndex{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 15px;
    color: #2EBEBD;
  }
  .infoName{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  .infoValue{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #262626;
    &.infoValueTrackId{
      color: #2C88DD;
    }
  }
}
.drawerWrap {
  :global {
    .ant-drawer-header{
      padding: 40px 35px 16px 48px;

    }
    .ant-drawer-body {
      padding: 16px 35px 70px 48px;
    }
  }
}
.drawer{
  .title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 24px;
  }
  .infoWrap{
    padding-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;
    .infoDescription {
      font-family: 'Lato';
      font-weight: 500;
      font-size: 17px;
      line-height: 28px;
      color: #000000;
      .name {
        font-weight: 700;
      }
    }
  }
  .productTable{
    margin-top: 16px;
    width: 100%;
    .tableHeader{
      font-family: 'Rubik';
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #808080;
    }
    td{
      padding-bottom: 16px;
      font-family: 'Lato';
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      .name{
        font-weight: 600;
        margin-bottom: 8px;
      }
      .sku{
        color: #808080;
      }
    }
  }
  .discountWrap{
    .discountLabel{
      margin-right: 10px;
      font-family: 'Lato';
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      color: #262626;
    }
    .discountName{
      margin-right: 10px;
      font-family: 'Lato';
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
    }
    .activeDiscount{
      padding: 6px 16px;
      background: rgba(46, 190, 189, 0.1);
      border: 1px solid #2EBEBD;
      border-radius: 6px;
    }
  }
  .orderSummary{
    margin: 40px 0 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E6E6E6;
    .summaryLabel{
      font-family: 'Rubik';
      font-weight: 400;
      font-size: 16px;
      color: #000000;
    }
  }
  .summaryValue{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #262626;
  }
  .totalLabel{
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 16px;
    color: #000000;
  }
  .footerWrap{
    margin-top: 40px;
    .cancelBtn{
      height: 45px;
      padding: 12px 20px;
      border-radius: 10px;
      font-family: 'Lato';
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
    }
  }
}
.modalSubTitle {
  margin-top: 10px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-align: center;
}
.confirmBtn,
.cancelBtn {
  width: 200px;
  margin-top: 32px;
  padding: 10px 14px;
  height: 45px;
  border-radius: 8px;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}