// detail 页面 header 模块 -----------
.detail-header {
  .noteBtn,
  .mergeBtn,
  .deleteBtn {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 14px;
    border-radius: 8px;
    gap: 8px;
  }
  .noteBtn {
    width: 92px;
    background-color: #000000;
    color: #ffffff;
  }
  .mergeBtn {
    width: 93px;
  }
  .deleteBtn {
    width: 99px;
    background-color: #f0f0f0;
  }
  :global {
    .ant-page-header-ghost {
      background-color: #f6f7f9;
    }
  }
}
// detail action 模块 右侧 deal 的联系人 amount等模块
.detail-action {
  background-color: #fff;
  // padding-bottom: 20px;
  .action-header {
    padding: 24px 24px 0;
    padding-bottom: 32px;
    border-bottom: 1px solid #d9d9d9;
    .header {
      display: flex;
      align-items: center;
      gap: 10;
      .deal-logo {
        margin-left: 10px;
        font-family: 'Lato';
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #2ebebd;
      }
    }
    .deal-name {
      margin-bottom: 24px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
    .status-wrap {
      display: flex;
      align-items: center;
      :global {
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
          width: 236px;
          height: 36px;
          padding: 0 16px;
          background: #dbf5f5;
          border-radius: 10px;
          margin-left: 12px;
          .ant-select-selection-item {
            color: #2ebebd;
            font-weight: 700;
          }
        }
      }
    }
  }
  .action-content {
    .info-label {
      font-family: 'Rubik';
      font-weight: 400;
      font-size: 13px;
      color: #808080;
    }
    .info-content {
      font-family: 'Lato';
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #262626;
    }
    .detail-info {
      padding: 28px 24px;
      .center {
        margin: 16px 0;
      }
      .info-content {
        margin-left: 12px;
      }
    }
    .goods-info {
      padding: 0 24px;
      .title {
        margin-bottom: 24px;
        font-family: 'Lato';
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #262626;
      }
      .center {
        margin: 8px 0;
      }
      .row {
        margin-top: 20px;
        .info-content {
          margin-top: 8px;
        }
      }
    }
    .contact-info {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0 24px;
      .info-content {
        margin-top: 8px;
      }
    }
    .editBtn {
      width: 57px;
      height: 36px;
      background: #f0f0f0;
      border-radius: 10px;
      font-family: 'Lato';
      font-weight: 500;
      font-size: 14px;
      color: #000000;
    }
    .addBtn {
      width: 69px;
      height: 36px;
      margin-left: 24px;
      margin-bottom: 24px;
      background: rgba(46, 190, 189, 0.1);
      border-radius: 10px;
      font-family: 'Lato';
      font-weight: 700;
      color: #2ebebd;
    }
  }
}
// detail tabs 模块 -----------------
.detail-tabs {
  :global {
    .ant-tabs-nav::before {
      border-bottom: none !important;
    }
    .ant-tabs-nav {
      padding: 16px 24px;
      margin: 0 !important;
      background-color: #fff;
    }
    .ant-tabs-tab {
      width: 106px;
      height: 36px;
      font-family: 'Lato';
      font-weight: 400;
      font-size: 15px;
      color: #707070;
      text-align: center;
      line-height: 36px;
      .ant-tabs-tab-btn {
        width: 100%;
        border-radius: 50px;
      }
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      background: rgba(46, 190, 189, 0.1);
      color: #2ebebd;
      font-weight: 700;
      text-shadow: none;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
  }
}
