// detail 页面 header 模块 -----------
.detail-header {
  .noteBtn,
  .mergeBtn,
  .deleteBtn {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 14px;
    border-radius: 8px;
    gap: 8px;
  }
  .noteBtn {
    width: 92px;
    background-color: #000000;
    color: #ffffff;
  }
  .mergeBtn {
    width: 93px;
  }
  .deleteBtn {
    width: 99px;
    background-color: #f0f0f0;
  }
  :global {
    .ant-page-header-ghost {
      background-color: #f6f7f9;
    }
  }
}
