.SideBarWrapper {
  .content {
    position: fixed;
    overflow: scroll;
    height: 100%;
  }
  .companyLogo {
    position: relative;
    margin: 39px auto;
    height: 66px;
    cursor: pointer;
  }
  :global {
    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
      border-right: none;
    }
    .ant-menu-root,
    .ant-menu-item,
    .ant-menu-submenu {
      margin-top: 40px;
      min-height: 46px;
      line-height: 46px;
      border-radius: 10px;
    }
    .ant-menu-submenu-inline {
      .ant-menu-item {
        margin: 0;
        margin-top: 10px;
        height: 40px;
        min-height: unset;
        line-height: 20px;
      }
      &.ant-layout-sider-collapsed {
        .ant-menu-item {
          margin: 0;
          margin-top: unset;
          height: unset;
          min-height: unset;
          line-height: unset;
        }
      }
    }
    .ant-menu-item-only-child {
      margin-top: 20px;
    }
    .ant-menu-inline .ant-menu-selected::after,
    .ant-menu-inline .ant-menu-item-selected::after {
      display: none;
    }
    .ant-menu-item-selected,
    .ant-menu-submenu-selected {
      color: #000 !important;
      background-color: #ececec !important;
      font-weight: 700;
      font-size: 16px;
    }
    .ant-menu-submenu:hover
      > .ant-menu-submenu-title
      > .ant-menu-submenu-expand-icon,
    .ant-menu-submenu:hover
      > .ant-menu-submenu-title
      > .ant-menu-submenu-arrow {
      color: #000;
    }
    .ant-menu-light .ant-menu-item:hover,
    .ant-menu-light .ant-menu-item-active,
    .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-light .ant-menu-submenu-active,
    .ant-menu-light .ant-menu-submenu-title:hover {
      color: #000 !important;
      background-color: #ececec;
      font-weight: 700;
      font-size: 16px;
    }
    .ant-menu-item,
    .ant-menu-submenu {
      img {
        opacity: 0.4;
      }
      &:hover {
        img {
          opacity: 1;
        }
      }
      &.ant-menu-item-selected {
        img {
          opacity: 1;
        }
      }
      &.ant-menu-submenu-selected {
        img {
          opacity: 1;
        }
        .ant-menu-submenu-title {
          color: #000 !important;
          font-weight: 700;
          font-size: 16px;
        }
        .ant-menu-item-selected {
          color: #000 !important;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }
}
